<!--Footer-->
<footer>
  <div class="footer_main">

      <div class="tag">
          <img src="{{ site.baseurl }}/image/logo-preview.png">
          <p>
              Nuestra librería en línea te ofrece acceso a una amplia selección de libros. Disfruta de la comodidad 
              de comprar desde casa y recibir tus lecturas favoritas.
          </p>

      </div>

      <!-- <div class="tag">
          <h1>Quick Link</h1>
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Featured</a>
          <a href="#">Arrivals</a>
          <a href="#">Reviews</a>
          <a href="#">Blog</a>
          
      </div> -->

      <div class="tag">
          <h1>Contactos</h1>
          <a href="#"><i class="fa-solid fa-phone"></i>+51 991 406 776</a>
          <a href="#"><i class="fa-solid fa-phone"></i>+51 986 853 420</a>
          <a href="#"><i class="fa-solid fa-envelope"></i>starbooksupport@gmail.com</a>
          
      </div>

      <div class="tag">
          <h1>Siguenos</h1>
          <div class="social_link">
              <i class="fa-brands fa-facebook-f"></i>
              <i class="fa-brands fa-instagram"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-linkedin-in"></i>
          </div>
          
      </div>

      <!-- <div class="tag">
          <h1>Entra a nuestro boletin</h1>
          <div class="search_bar">
              <input type="text" placeholder="Ingresa tu correo">
              <button type="submit">Suscribirse</button>
          </div>                
      </div>             -->
      
  </div>
  <p class="end">Hecho por<span><i class="fa-solid fa-face-grin"></i> GRUPO "1"</span></p>
  <p class="end">&copy; 2024 Ventas de Libros Online</p>
</footer>