<header>
    <nav>
        <div class="logo">
            <img src="image/logo-preview.png">
        </div>
        <ul>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="#nosotros">Nosotros</a></li>
            <li><a href="#vendidos">Mas Vendidos</a></li>
            <li><a href="#novedades">Novedades</a></li>
            <li><a href="#reseñas">Reseñas</a></li>
           <li><a href="preguntas.html">Preguntas Frecuentes</a></li>
        </ul>
        <div class="social_icon">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-heart"></i>
        </div>

    </nav>
</header>
